@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#h3Instagram {
    display: inline-block;
    font-size: x-large;
     font-family: 'Lobster', cursive;
}

.card-img-top{
     height: 450px;
     padding: 2px;
}

.nav-pills > li > a {
    color: grey !important;
}

.nav-pills > li > a.active {
    background-color: grey !important;
    color: white !important;
}

#pills-profile {
    background-color: grey !important;
}

.card .col {
    background-color: grey;
}

.card {
    border: 0;
}